.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .header-wrapper {
  background-color: #ffffff;
  width: 1366px;
  height: 768px;
}

.desktop .header {
  position: relative;
  width: 1366px;
  height: 82px;
  top: -3px;
  background-color: #ffffff;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #f3f5f5;
}

.desktop .link-image {
  position: absolute;
  width: 60px;
  height: 57px;
  top: 12px;
  left: 71px;
  background-image: url(./img/link-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .div-categori-search {
  position: absolute;
  width: 754px;
  height: 39px;
  top: 21px;
  left: 272px;
  background-color: #f5f5f5;
  border-radius: 800px;
}

.desktop .overlap-group {
  position: relative;
  height: 39px;
  border-radius: 800px;
}

.desktop .combobox {
  position: absolute;
  width: 754px;
  height: 39px;
  top: 0;
  left: 0;
  background-color: #f7f9fb;
  border-radius: 800px;
  border: 1px solid;
  border-color: #ced4da;
}

.desktop .div-placeholder {
  position: relative;
  width: 728px;
  height: 16px;
  top: 10px;
  left: 12px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 238px;
  height: 16px;
  top: -1px;
  left: 0;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #8c98a4;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .symbol {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 725px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #6c757d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.desktop .link {
  position: absolute;
  width: 104px;
  height: 30px;
  top: 22px;
  left: 1064px;
  border-radius: 800px;
  border: 1px solid;
  border-color: #196ecd;
}

.desktop .icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 8px;
  left: 25px;
}

.desktop .div {
  position: absolute;
  width: 33px;
  height: 15px;
  top: 6px;
  left: 47px;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #1963cd;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.7px;
  white-space: nowrap;
}

.desktop .link-2 {
  position: absolute;
  width: 109px;
  height: 30px;
  top: 22px;
  left: 1198px;
  background-color: #196ecd;
  border-radius: 800px;
  box-shadow: 0px 1px 1px #161c2d13, inset 0px 1px 0px #ffffff26;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 37px;
  height: 15px;
  top: 6px;
  left: 47px;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.7px;
  white-space: nowrap;
}
